@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>Clientes</h2>        
        <p><a class="btn btn-default" href="/clientes">Clientes &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Telefones</h2>        
        <p><a class="btn btn-default" href="/telefones">Telefones &raquo;</a></p>
    </div>
    
</div>